[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "themes/hugo-material-blog"]
	path = themes/hugo-material-blog
	url = https://github.com/Xzya/hugo-material-blog.git
